# Empirical Question 1

# Empirical Question 2

## Correlation between the Return on Momentum and Value Portfolios

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

We first clean the data

In [ ]:
df_factors = pd.read_csv("../data/ff_factors_and_mom.csv")

         date      rf   mktrf     smb     hml     mom
0  31/01/1927  0.0025 -0.0006 -0.0037  0.0454  0.0036
1  28/02/1927  0.0026  0.0418  0.0004  0.0294 -0.0214
2  31/03/1927  0.0030  0.0013 -0.0165 -0.0261  0.0361
3  30/04/1927  0.0025  0.0046  0.0030  0.0081  0.0430
4  31/05/1927  0.0030  0.0544  0.0153  0.0473  0.0300

In [17]:
df_factors["date"] = pd.to_datetime(df_factors["date"], dayfirst=True)
df_factors=df_factors.sort_values("date")
df_factors = df_factors.set_index("date")
df_factors.head()

                rf   mktrf     smb     hml     mom
date
1927-01-31  0.0025 -0.0006 -0.0037  0.0454  0.0036
1927-02-28  0.0026  0.0418  0.0004  0.0294 -0.0214
1927-03-31  0.0030  0.0013 -0.0165 -0.0261  0.0361
1927-04-30  0.0025  0.0046  0.0030  0.0081  0.0430
1927-05-31  0.0030  0.0544  0.0153  0.0473  0.0300

We extract the momentum and value columns from our dataframe for futher analysis

In [ ]:
df_mom_hml = df_factors[["mom", "hml"]].dropna()
df_mom_hml.head()

               mom     hml
date
1927-01-31  0.0036  0.0454
1927-02-28 -0.0214  0.0294
1927-03-31  0.0361 -0.0261
1927-04-30  0.0430  0.0081
1927-05-31  0.0300  0.0473

In [19]:
momentum = df_mom_hml["mom"]
value = df_mom_hml["hml"]

The summary statistics of the momentum and value portfolios are shown below

In [20]:
print("Momentum portfolio (MOM) summary statistics:")
print(momentum.describe())

print("\nValue portfolio (HML) summary statistics:")
print(value.describe())

Momentum portfolio (MOM) summary statistics:
count    1164.000000
mean        0.006230
std         0.047024
min        -0.520500
25%        -0.009525
50%         0.008050
75%         0.029525
max         0.182000
Name: mom, dtype: float64

Value portfolio (HML) summary statistics:
count    1164.000000
mean        0.003483
std         0.035754
min        -0.138700
25%        -0.014025
50%         0.001300
75%         0.017525
max         0.356100
Name: hml, dtype: float64

We compute the correlation between momemtum and value portfolios by taking the sample with all available data we have.

In [ ]:
corr_full_sample = df_mom_hml["mom"].corr(df_mom_hml["hml"])

print("The correlation between MOM and HML portfolios, taken full samples, is ", 
      round(corr_full_sample,4))

The correlation between MOM and HML factors, taken all samples, is  -0.4057

The result shows that the correlaiton is negative. To show if this pattern persists in other samples, we limit the scope of data to the most recent 10 years and recompute the correlation

In [26]:
end_date_10y = df_mom_hml.index.max()
start_date_10y = end_date_10y - pd.DateOffset(years=10)
df_10y = df_mom_hml.loc[start_date_10y:end_date_10y]

corr_10y = df_10y["mom"].corr(df_10y["hml"])

print("The correlation between MOM and HML portfolios in the most recent 10 years is ", 
      round(corr_10y,4))

The correlation between MOM and HML portfolios in the most recent 10 years is  -0.3004

We then apply a 24-month rolling window to see if the negative correlation exists across all time.

# Empirical Question 3